@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
   font-family: 'Open Sans', sans-serif;
   text-align: center;
   margin-top: 30px;
}

#game {
   width: 300px;
   border: 1px solid black;
   z-index: 10;
   margin: 0 auto;
}

td {
   height: 100px;
   width: 100px;
   border: 1px solid black;
   font-size: 50px;
   text-align: center;
   z-index: 11;
}

td:hover {
   cursor: pointer;
   background-color: #DDD;
}

#mask {
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: 100;
   display: none;
}
